html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* navbar */
/* .css-hyum1k-MuiToolbar-root */
.css-hyum1k-MuiToolbar-root {
  padding: 0 0;
  width: 90%;
  margin: 0 auto;
  @media (min-width: 769px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media (max-width: 1149px) {
    width: 100%;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  @media (max-width: 1050px) {
    width: 100%;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  @media (max-width: 900px) {
    width: 100%;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  @media (max-width: 600px) {
    width: 100%;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  @media (max-width: 500px) {
    width: 100%;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.css-18n1uzu-MuiPaper-root-MuiCard-root {
  border: 1px thin rgba(210, 210, 210, 1);
}

.slide-bannerTextHeader {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextHeader 0.8s ease-in-out 0.8s forwards;
}
.slide-bannerTextSubtext {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextSubtext 0.9s ease-in-out 0.9s forwards;
}
.slide-bannerTextButton {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  animation: slideInbannerTextButton 1s ease-in-out 1s forwards;
}

@keyframes slideInbannerTextHeader {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInbannerTextSubtext {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInbannerTextButton {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-banneravatar1 {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide-banneravatar1.show {
  opacity: 1;
  transform: scale(1);
}

.slide-banneravatar2 {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-out;
}

.slide-banneravatar2.show {
  opacity: 1;
  transform: scale(1);
}

.slide-banneravatar3 {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 2s ease-in-out, transform 2s ease-out;
}

.slide-banneravatar3.show {
  opacity: 1;
  transform: scale(1);
}

.slide-banneravatar4 {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide-banneravatar4.show {
  opacity: 1;
  transform: scale(1);
}

.slide-banneravatar5 {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-out;
}

.slide-banneravatar5.show {
  opacity: 1;
  transform: scale(1);
}

.slide-banneravatar6 {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 2s ease-in-out, transform 2s ease-out;
}

.slide-banneravatar6.show {
  opacity: 1;
  transform: scale(1);
}


/*SPLIDE ARROWS */
.splide__arrow--next {
  right: 85%;
}

.splide__arrow--prev {
  left: 2%;
}

.splide__arrows {
  display: "block";
}

/* IMAGES BETNEATH VALPROPS */
.lowercontainercontainer {
  display: flex;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.lowercontainerleft {
  width: 40%;
  height: 100%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.lowerrighttextcontainer {
  width: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://ajeoba-website.oss-eu-central-1.aliyuncs.com/websiteImagesNew/homepage/homepageblacksqurebelowvalpropbackground.svg");
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    width: 100%;
  }
}
/* .valueropquote {
  width: "6%";
} */

.lowerrightinnertextcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  gap: 0.5rem;
  @media (max-width: 768px) {
    padding: 1rem 0;
    width: 90%;
  }
}

.inputsupplybottomcontent {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
}

.bannerimginput {
  width: 30%;
}

@media (max-width: 600px) {
  .inputsupplybottomcontent {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .bannerimginput {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .css-18zrjlo-MuiTypography-root {
    text-align: center;
  }
}
